@use "../../assets/sass//variables" as *;

button {
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__parent {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 2px solid black;
  }

  &__child {
    width: 80%;
    height: 50px;
    margin: 10px;

    &.active {
      background-color: $button-blue;
      color: $main-text-white;
    }
    background-color: $button-grey;
    color: $main-text-blue;
    border: none;
  }
}
