button {
  border-bottom: 2px solid black;
}

.filter-menu__verbose-filters {
  font-size: small;
}

.filter-dropdowns {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  overflow: auto;
  &__cross {
    margin-left: 90%;
    margin-top: 20px;
    width: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .filter-dropdowns {
    width: 768px;
    position: static;
    display: flex;
    &__cross {
      display: none;
    }
  }
}
